@model ApiSGCOlimpiada.Models.EmailModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img src="~/images/imagem1.png">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="left" valign="top">
                            <p>
                                Prezado(a) @Model.Responsaveis.Find(r => r.Cargo == "Gerente").Nome,
                                Está autorizado o lançamento das despesas para a Olimpíada do Conhecimento, referente a aquisição de
                                @Model.Acompanhamento.SolicitacaoCompra.TipoCompra.Descricao através do
                                @Model.Acompanhamento.SolicitacaoCompra.Escola.Nome
                                que serão utilizados no treinamento das ocupações:
                                @foreach (var item in Model.Ocupacoes)
                                {
                                    <span>#@item.Numero - @item.Nome;</span>
                                }
                            </p>
                            <br>
                            <strong>
                                Dados para controle.
                            </strong>

                            <ul>
                                <li>Unidade Organizacional: @Model.CodUnidadeOrganizacional / Centro de Responsabilidade: @Model.CentroResponsabilidade.</li>
                                <li>Projeto: @Model.Projeto</li>
                                <li>Conta Contábil: @Model.ContaContabil</li>
                                <li>
                                    Ocupação:
                                    @foreach (var item in Model.Ocupacoes)
                                    {
                                        <span>#@item.Numero - @item.Nome;</span>

                                    }
                                </li>
                                <li>itens: Em anexo</li>
                                <li>Valor: R$ @Model.Orcamento.ValorTotal.ToString("F2") - (@Model.Orcamento.Fornecedor)</li>
                                <li>
                                    Endereço de entrega: @Model.Acompanhamento.SolicitacaoCompra.Escola.Logradouro, @Model.Acompanhamento.SolicitacaoCompra.Escola.Numero - @Model.Acompanhamento.SolicitacaoCompra.Escola.Bairro, @Model.Acompanhamento.SolicitacaoCompra.Escola.Cidade - @Model.Acompanhamento.SolicitacaoCompra.Escola.Estado
                                </li>
                                <li>Responsável pelo recebimento: @Model.Acompanhamento.SolicitacaoCompra.ResponsavelEntrega</li>
                            </ul>

                            <p>
                                Solicitamos o apoio da escola para a operacionalização do processo de compras, via centro de responsabilidade da Olimpíada do Conhecimento.
                                Enviar para o e-mail: olimpiada@fiemg.com.br , cópia do processo de Solicitação de Pagamento, para controle.
                            </p>

                            <strong>ATENÇÂO</strong>
                            <br />
                            <p>
                                A GET - Coordenação da Olimpíada se limita em autorizar o lançamento das despesas com o projeto para o centro de responsabilidade próprio (@Model.CodUnidadeOrganizacional/ @Model.CentroResponsabilidade).
                                Caberá aos demais funcionários realizarem os procedimentos padrão para a execução e conferência dos documentos (formulários, recibos, notas, etc.),
                                conforme Instruções Normativas vigentes.
                                <br />Atenciosamente,
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <img src="~/images/imagem2.png">
</body>
</html>